/* root element selector (global scope), e.g. <html> */
:root {
  /* CSS variables declarations */
  --calendar-hover: #DDD;
  --calendar-selected: #acc5fe;
  --color-honey: #FEE5AC;
  --color-softblue: #acc5fe;
  --calendar-day-border: #fff;
  --days-past: rgba(200, 150, 72, .4);
}

* {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, SegoeU UI, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  margin: 0;
}

button {
  outline: none;
}

h1, h2 {
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
}

.header {
  width: 100%;
  background: #4AC7F3;
  margin: 0;
}

.header h1, h2 {
  padding: 4px 0;
  font-weight: 400;
}

.title {
  padding-top: 10px;
  font-weight: 200;
}

.separator {
  height: 20px;
  margin-bottom: 20px;
  background: #26272A;
}

.calendar-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

/*===Todos===*/
.Todos {
  width: 360px;
  min-height: 200px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  /*float: left;*/
  margin: 0 auto;
}

.todo {
  cursor: pointer;
  /*float: left;*/
  clear: both;
  margin: 0 0 6px 0;
  padding: 0 10px 0 4px;
}

.todo-calendar-icon {
}

/*===Planner===*/
.Planner {
  text-align: center;
  margin: 0 auto;
  min-width: 900px;
}

.planner-container {
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.planner-view-btn-container {
  /*float: right;*/
  /*margin-right: 16.333%;*/
}

.planner-view-btn {
  width: 60px;
  height: 30px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
}

.planner-view-btn-active {
  background: #ddd;
}

/*===Clock===*/
.Clock {
}

/*===CalendarMini===*/
.CalendarMini {
  margin: 0 auto;
  margin-top: 10px;
  /*float: left;*/
  width: 188px;
}

.year-month-mini {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  max-width: 100%;
}

.year-month-mini h3 {
  display: inline;
}

.calendar-left-mini,
.calendar-right-mini {
  cursor: pointer;
  padding: 6px;
}

.calendar-left-mini {
  float: left;
}

.calendar-right-mini {
  float: right;
}

.current-week-view {
  background: #EEE;
}

.current-day-mini {
  color: blue;
}

.calendar-day-mini {
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 2px;
}

.calendar-day-mini:hover {
  background: var(--calendar-hover);
}

.not-current-month-mini {
  color: #ddd;
}

.table-calendar-mini {
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
}

.th-day-name-mini {
  font-size: 12px;
  font-weight: normal;
}

.has-todo-mini {
  color: #222;
  font-weight: bold;
}

.has-todo-mini.not-current-month-mini {
  color: #bbb;
}

/*===CalendarWeek===*/
.CalendarWeek {
  margin: 0 auto;
  margin-top: 16px;
}

.day-names th {
  width: 144px;
}

.CalendarWeek.table-calendar.tr-calendar {
  border: 1px solid black;
  width: 10px;
  height: 10px;
}

.table-calendar-week {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  border-collapse: collapse;
}

.time-slice-header {
  padding-right: 10px;
  font-size: 12px;
  text-align: right;
}

.calendar-schedule-row td {
  border: 1px solid #ddd;
  height: 20px;
  max-width: 100px; /* Why does the value not matter? */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 4px;
}

/*===ScheduleDate===*/
.schedule-activity {
  width: 100px;
  font-size: 12px;
  overflow: hidden;
  cursor: pointer;
}

.schedule-activity.current-day {
  background: #eff;
}

/*===CalendarMonth===*/
.Calendar {
  margin-top: 16px;
}

.current-day {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid var(--color-softblue);
}

.calendar-day {
  width: 70px;
  height: 90px;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  background: #eee;
  color: #aaa;
}

.current-month {
  background: var(--color-honey);
  color: #000;
}

.current-month.calendar-day-selected,
.calendar-day-mini.calendar-day-selected {
  background: var(--calendar-selected);
}

.table-calendar {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  border-collapse: collapse;
}

.table-calendar p {
  margin: 0;
  padding: 4px 0 0 4px;
}

.th-day-name {
  padding: 8px 0;
  font-size: 14px;
}

.tr-calendar-days {
  border-left: 1px solid var(--calendar-day-border);
  border-bottom: 1px solid var(--calendar-day-border);
}

.table-calendar td {
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--calendar-day-border);
  border-right: 1px solid var(--calendar-day-border);
}

.year-month {
  margin: 0 auto;
  max-width: 280px;
}

.year-month h3 {
  display: inline;
}

.calendar-left, .calendar-right {
  cursor: pointer;
  padding: 6px;
}
.calendar-right {
  float: right;
}
.calendar-left {
  float: left;
}

.calendar-day {
  width: 114px;
  height: 90px;
  cursor: pointer;
}
