* {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, SegoeU UI, Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

/*===Todos===*/
.Todos {
  width: 360px;
  min-height: 200px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  float: left;
  margin: 0 auto;
}

.todo {
  cursor: pointer;
  float: left;
  clear: both;
  margin: 0 0 6px 0;
  padding: 0 10px 0 4px;
}

.todo-calendar-icon {
}

/*===Planner===*/
.Planner {
  text-align: center;
  margin: 0 auto;
  width: 1200px;
  min-width: 900px;
  position: absolute;
  border: 1px solid black;
}

/*===Clock===*/
.Clock {
}

/*===Calendar===*/
/* root element selector (global scope), e.g. <html> */
:root {
  /* CSS variables declarations */
  --calendar-hover: #dddddd;
  --days-past: rgba(200, 150, 72, .4);
}

.Calendar {
  margin: 0 auto;
  cursor: default;
}

.current-day {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid rgba(1, 21, 243, 0.8);
}

.calendar-day {
  width: 70px;
  height: 90px;
  cursor: pointer;
  text-align: left;
}

.calendar-day:hover {
  background: var(--calendar-hover);
}

.current-month {
  background: #f7ba07;
}

.table-calendar {
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.not-current-month {
  background: #eee;
  color: #aaa;
}

.year-month {
  margin: 0 auto;
  max-width: 280px;
}

.year-month h3, .year-month p {
  display: inline;
}

.calendar-left, .calendar-right {
  cursor: pointer;
  padding: 6px;
}

.calendar-right {
  float: right;
}
.calendar-left {
  float: left;
}

th {
  width: auto;
}

.th-day-name {
  font-size: 12px;
}

.day-past {
  background: var(--days-past);
  color: #333;
}

.has-todo::after {
  display: block;
  content: "\25A1";
}

.todos-show-all {
  margin-bottom: 40px;
}

@media only screen and (min-width : 600px) and (max-width : 1099px) {
  .calendar-day {
    width: 80px;
    height: 90px;
    cursor: pointer;
  }
}

@media only screen and (min-width : 1100px) and (max-width : 1199px) {
  .calendar-day {
    width: 100px;
    height: 90px;
    cursor: pointer;
  }
}

@media only screen and (min-width : 1200px) {
  .calendar-day {
    width: 114px;
    height: 90px;
    cursor: pointer;
  }
}
