/* root element selector (global scope), e.g. <html> */
:root {
  /* CSS variables declarations */
  --calendar-hover: #DDD;
  --calendar-selected: #4AC7F3;
  --color-honey: #FEE5AC;
  --color-softblue: #4AC7F3;
  --calendar-day-border: #fff;
  --days-past: rgba(200, 150, 72, .4);
}

* {
  user-select: none;
  cursor: default;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, SegoeU UI, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  margin: 0;
}

button {
  outline: none;
}

h1, h2 {
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
}

.header {
  width: 100%;
  background: #4AC7F3;
  margin: 0;
}

.header h1, h2 {
  padding: 4px 0;
  font-weight: 400;
}

.title {
  padding-top: 10px;
  font-weight: 200;
}

.separator {
  height: 20px;
  margin-bottom: 20px;
  background: #26272A;
}

.calendar-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.planner-view-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 200px;
  margin: 0 auto;
}

/*===Planner===*/
.Planner {
  text-align: center;
  margin: 0 auto;
  min-width: 600px;
}

.calendar-mini-container {
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.planner-view-btn {
  width: 60px;
  height: 30px;
  border: 1px solid #ccc;
  background: #eee;
  cursor: pointer;
}

.planner-view-btn-active {
  background: #ddd;
}

/*===CalendarMini===*/
.CalendarMini {
  margin: 0 auto;
  margin-top: 10px;
  /*float: left;*/
  width: 188px;
}

.year-month-mini {
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  max-width: 100%;
}

.year-month-mini h3 {
  display: inline;
}

.calendar-left-mini,
.calendar-right-mini {
  cursor: pointer;
  padding: 6px;
}

.calendar-left-mini {
  float: left;
}

.calendar-right-mini {
  float: right;
}

.current-week-view {
  background: #EEE;
}

.current-day-mini {
  color: blue;
}

.calendar-day-mini {
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 2px;
}

.calendar-day-mini:hover {
  background: var(--calendar-hover);
}

.not-current-month-mini {
  color: #ddd;
}

.table-calendar-mini {
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
}

.th-day-name-mini {
  font-size: 12px;
  font-weight: normal;
}

.has-todo-mini {
  color: #222;
  font-weight: bold;
}

.has-todo-mini.not-current-month-mini {
  color: #bbb;
}

/*===CalendarDay===*/
.CalendarDay {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  width: 810px;
}

.table-calendar-day {
  margin-top: 16px;
}

.table-calendar-day tr:nth-child(odd) {
  background: #EFEFEF;
}

.day-schedule-todos-container {
  width: 100%;
  margin-top: 16px;
}

.day-schedule-todos-row {
  display: flex;
  align-content: space-around;
  align-items: center;
}

.day-schedule-time-slice {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  min-width: 50px;
}

.day-schedule-todo {
  flex-grow: 1;
  min-height: 20px;
  margin: 1px;
  border: 1px solid #ddd;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  font-size: 12px;
  cursor: pointer;
}

/*===CalendarWeek===*/
.CalendarWeek {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  max-width: 810px;
}

.table-calendar-week {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  margin-left: -40px;
  width: 100%;
  table-layout: fixed;
}

.time-slice-header {
  width: 5%;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  border: none;
}

.schedule-activity {
  border: 1px solid #ddd;
  height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 4px;
}


/*===ScheduleDate===*/
.schedule-activity {
  font-size: 12px;
  overflow: hidden;
  cursor: pointer;
}

.schedule-activity.current-day {
  background: #eff;
}

/*===CalendarMonth===*/
.CalendarMonth {
  margin-top: 16px;
}

.calendar-month-current-day {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid var(--color-softblue);
}

.calendar-day {
  width: 70px;
  height: 90px;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  background: #eee;
  color: #aaa;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 114px;
  height: 90px;
  cursor: pointer;
}

.calendar-day p {
  cursor: pointer;
}

.calendar-day:hover {
  background: var(--calendar-hover);
}

.current-month {
  background: var(--color-honey);
  color: #000;
}

.current-month.calendar-day-selected,
.calendar-day-mini.calendar-day-selected {
  background: var(--calendar-selected);
}

.month-view-todo {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.table-calendar {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  border-collapse: collapse;
}

.table-calendar p {
  margin: 0;
  padding: 4px 0 0 4px;
}

.th-day-name {
  padding: 8px 0;
  font-size: 14px;
}

.tr-calendar-days {
  border-left: 1px solid var(--calendar-day-border);
  border-bottom: 1px solid var(--calendar-day-border);
}

.table-calendar td {
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--calendar-day-border);
  border-right: 1px solid var(--calendar-day-border);
}

.year-month {
  margin: 0 auto;
  max-width: 280px;
}

.year-month h3 {
  display: inline;
}

.calendar-left, .calendar-right {
  cursor: pointer;
  padding: 6px;
}
.calendar-right {
  float: right;
}
.calendar-left {
  float: left;
}

.view-source-code {
  text-align: center;
}

.view-source-code a {
  cursor: pointer;
}
